@font-face{
	font-family: "Bely Display";
	font-display: swap;
	src: url("../fonts/Bely-Display-W00-Regular.woff2") format("woff2"), url("../fonts/Bely-Display-W00-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: "novel";
	font-display: swap;
	src: url("../fonts/novel-mono-pro-light.woff2") format("woff2"), url("../fonts/novel-mono-pro-light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: "novel";
	font-display: swap;
	src: url("../fonts/novel-mono-pro-regular.woff2") format("woff2"), url("../fonts/novel-mono-pro-regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: "novel";
	font-display: swap;
	src: url("../fonts/novel-mono-pro-semibold.woff2") format("woff2"), url("../fonts/novel-mono-pro-semibold.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: "Proxima Nova";
	font-display: swap;
	src: url("../fonts/proximanova_black.woff2") format("woff2"), url("../fonts/proximanova_black.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face{
	font-family: "Proxima Nova";
	font-display: swap;
	src: url("../fonts/proximanova_bold.woff2") format("woff2"), url("../fonts/proximanova_bold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: "Proxima Nova";
	font-display: swap;
	src: url("../fonts/proximanova_light.woff2") format("woff2"), url("../fonts/proximanova_light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: "Proxima Nova";
	font-display: swap;
	src: url("../fonts/proximanova_extrabold.woff2") format("woff2"), url("../fonts/proximanova_extrabold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: "Proxima Nova";
	font-display: swap;
	src: url("../fonts/proximanova_regular.woff2") format("woff2"), url("../fonts/proximanova_regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: "Proxima Nova";
	font-display: swap;
	src: url("../fonts/proximanova_semibold.woff2") format("woff2"), url("../fonts/proximanova_regular.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
